.add-article-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.add-article-container label {
    display: block;
    margin: 10px 0;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



.add-article-container form {
    display: flex;
    flex-direction: column;
}

.add-article-container input,
.add-article-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) -25px 25px;
    font-family: 'Courier New', Courier, monospace;
}

.add-article-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) -25px 25px;
    font-family: 'Courier New', Courier, monospace;
}

.text-area{
    height: 150px;
     white-space: pre-wrap;
}

.author-p{
    margin-top: 3em;
    color: #333;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.add-article-container button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #4caf50;
    box-shadow: rgba(0, 0, 0, 0.6) -25px 25px;
    color: #333;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.add-article-container button:disabled {
    background-color: #4caf50 !important;
    cursor: not-allowed;
}