* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #ffff82;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.project-text{
  padding: 1em;
}

#root {
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.articles-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin: auto;
    padding: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    min-width: 300px;
    
  }
  .articles-container li{
    position: relative;
    padding: 1em;
    height: fit-content;
    gap: 3em;
    margin: 10%;
    background-color: rgb(49, 247, 247);
  }
  
  .filter-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


  .sortby-container,
  .topics-container {
    flex: 1;
    margin-right: 10px;
  }
  .filter-container p{
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sort-options {
    display: flex;
    
  }
  .loading-tab{
    margin: 50vh 50vw;
    font-size: 18px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .selected{
    background-color: #333;
    color: #fff;
  }
.img-div{
  display: flex;
  width: 100%;
  opacity: 0;
  transform: translateX(40%);
  transition: 500ms;
}
.show .img-div{
  transform: translateX(0);
  opacity: 1;
}
.show {
  transform: scale(1.1)!important;
  transition: 250ms;
  background-color: rgb(49, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.6) -25px 25px !important;
}
.article-name h4{
  opacity: 0;
  transform: translateX(-40%);
  transition: 500ms;
}

.show h4{
  transform: translateX(0);
  opacity: 1;
}

  .delete-btn{
  position: absolute;
  top: 10px; 
  right: 10px; 
  padding: 10px;
  
  border: none;
  cursor: pointer;
  }
  .sort-options a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sort-options a:hover {
    background-color: #f0f0f0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .article-name {
    margin: 20px 0;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 250ms;
  }
  
  .article-name h4 {
    font-size: 1.2em;
    margin: 0;
  }
  .article-voter-btn-container{
    display: inline;
  }
  
  .article-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .article-menu p {
    margin: 0;
  }
  
  .article-img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
  }
  .voter-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .filter-container button:hover{
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .filter-container {
      flex-direction: column;
      justify-content: flex-start;
    }
    .topic-container-div button{
      width: 100%;
    }
    .article-img{
      width: auto;
    }
    .article-voter-btn-container{
      display: inline !important;    }
    .sortby-container,
    .topics-container {
      width: 100%;
      margin-right: 0;
    }
  
    .sort-options {
      flex-direction: column;
    }
  
    .sort-options a {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  @media  (max-width: 480px) {
    .article-name {
      padding: 5px;
    }
    .voter-date span{
      display: none !important;
    }
    .articles-container{
      margin: 5px;
    }
    .article-voter-btn-container{
      display: inline !important;    }
  }

  @media  (max-width: 600px){
    .article-p{
      display: none;
    }
    .article-voter-btn-container{
      display: inline !important;    }
  }
  @media (max-width: 993px){
    .topic-container-div .filter-container{
      display: flex;
      flex-direction: column;
    }
    .article-voter-btn-container{
      display: inline !important;
    }
  }