.comment-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .form-container {
    margin: auto;
    max-width: 1000px;
    position: sticky;
    top: 100px;
    z-index: 10;
  }
  
  .form-container textarea {
    margin: 20px;
    padding: 20px;
    width: auto;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: 2px solid #333;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    height: 150px;
  }
  
  .form-container button {
    box-shadow: rgba(0, 0, 0, 0.6) -15px 15px;
  }
  
  .comment-container li {
    list-style: none;
    border: 2px solid #333;
    margin: 3em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    transition: 250ms;
    opacity: .2;
    z-index: 20;
  }
  
  .comment-container h4 {
    margin: 0;
  }
  
  .comment-container .show {
    background-color: rgb(237, 244, 248);
    opacity: 1 !important;
  }
  
  .date-time {
    margin: 0 auto;
    text-align: center;
  }
  
  .comment-container div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }
  
  .delete-btn {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #ff5252;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loading-tab {
    margin: 50vh 50vw;
    font-size: 18px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .comment-container .submit-btn {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #4caf50;
    color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-container .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 600px) {
    .comment-voter {
      display: flex;
      flex-direction: column;
    }
  
    .comment-container {
      margin: auto;
      padding: 0;
    }
  
    .comment-container div {
      margin: 0 auto;
      text-align: center;
    }
  
    .date-time {
      display: none;
    }
  
    .voter-btn-container {
      display: inline;
    }
  }