
.home-container {
    
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }
  

  
  h1 {
    color: #333;
  }
  
  h3 {
    color: #333;
    margin-top: 20px;
  }
  
  p {
    line-height: 1.5;
    color: #333;
  }
  
  a {
    color: #333;
    font-weight: 900;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ol {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  li {
    color: #444;
  }