/* .articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  
}
.articles-container li {
  border: 2px solid rgb(201, 199, 199);
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  list-style: none;
}

.article-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
.article-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.main-header {
  text-align: center;
}

button:hover {
  background-color: #333;
  color: #fff;
} */
