.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.article-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.article-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}