*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  width: 100%;
  min-width: 300px;
  z-index: 1001;
  flex-shrink: 0;
}

.brand-name{
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  margin: .5rem;
  flex-shrink: 0 !important;
}

.nav-options ul{
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-options li{
  list-style: none;
  justify-content: space-between;
  font-weight:900;

}
.nav-link{
  text-decoration: none;
  color:#fff;
  padding:1rem 2rem;
  display: block;
}

.nav-options li:hover{
  background-color: #555;
}
.toogle-btn{
  position:fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  flex-shrink: 0;
}
.log-icon a{
  position:fixed;
  top: 1rem;
  right: .5rem;
  display: none;
  text-decoration: none;
  color: #fff;
  min-width: 30px;
  font-weight: bold;
}

.toogle-btn .bar{
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.login-container{
  display: inline-block;
}

.login-container button{
  color: #fff;
  background-color: #333;
  min-width: 35px;
  font-weight: bold;
  
}
.login-container button:hover{
  transform: scale(1.1);
  
}


@media  (max-width: 800px) {
  .log-icon{
    position: absolute;
    right: .5rem;
  }
  .log-item{
    display: none;
  }
  .log-icon a{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: .75rem;    
    right: .5rem;
    margin-right: .5rem
  }
  .nav-bar {
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;
  }
  .hi-span{
    display: none;
  }
  .login-container{
    display:none;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
  }
  .login-container form{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .login-container.active{
    position: relative;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    .log-item{
      display: flex;
    }
    .login-container button{
      padding-left: 50px;
    }
  }
  .login-container.active,
  .login-container.active .log-item {
    display: flex;
    justify-content: end;
  }
  .brand-name{
    flex-shrink: 0;
  }
  .toogle-btn {
    flex-shrink: 0;
  }
}

@media  (max-width: 990px) {
  .toogle-btn {
    display: flex;
  }
  .nav-options {
    display: none;
    width: 100%;
    min-width: 300px;
  }
 
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-options ul{
    width: 100%;
    flex-direction: column;
    
  }
  .nav-options li{
    text-align: center;
  }
  .nav-options .nav-link {
    padding:.5rem 1rem;
  }
  .login-container{
    position: fixed;
    right: .5rem;
    margin-right: .5rem
  }
  .nav-options.active {
    display: flex;
    
  }
  .brand-name{
    flex-shrink: 0;
  }
  .toogle-btn {
    flex-shrink: 0;
  }
}










