.nav-container {
  background-color: #333;
  padding: 10px;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.login-container {
  margin-right: 15px;
}
.login-container button {
  color: #fff;
  background-color: #333;
}

.login-container span{
  color: #fff;
}

@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pixelifysans/v1/CHy2V-3HFUT7aC4iv1TxGDR9DHEserHN25py2TQ3101RZZN4h1mWrull_g.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
