
h2 {
    font-size: 24px;
    margin-top: 50px;
    color: black;
}

.voter-button {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f15bb5;
    /* box-shadow: rgba(0, 0, 0, 0.4) -2px 2px; */
    margin-left: 1em;
    transition: 150ms;
}
.show .voter-button{
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px;
  border: 2px solid #333;
  transition: 150ms;
}
.voter-button:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) -9px 9px;

}
.single-article-container {
  padding-top: 100px;
  margin-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;

  }

.single-article-container input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  form textarea {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    width: auto;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    height: 150px;
}


 .submit-btn {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #4caf50;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}