.new-topic-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.new-topic-container label{
    display: block;
    margin: 10px 0;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.new-topic-container form {
    display: flex;
    flex-direction: column;
}
.new-topic-container textarea,.new-topic-container input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) -25px 25px;
    font-family: 'Courier New', Courier, monospace;
}



.topic-text-area{
    height: 150px;
     white-space: pre-wrap;
}

.new-topic-container button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 3em 0;
    box-sizing: border-box;
    background-color: #4caf50;
    box-shadow: rgba(0, 0, 0, 0.6) -25px 25px;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.new-topic-container button:disabled {
    background-color: #4caf50;
    cursor: not-allowed;
}